<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script>
			const isDark = localStorage.getItem("isDarkMode");
			if (isDark === "1") {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,viewport-fit=cover,shrink-to-fit=no">
		<meta name="renderer" content="webkit">
        <link rel="apple-touch-icon" href="img/favicon.ico">
        <link rel="icon" href="img/favicon.ico">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="format-detection" content="address=no">
		<meta name="format-detection" content="date=no">
		<title>
			Memos Detail
		</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="robots" content="max-image-preview:large">
		<link rel="stylesheet" id="classic-theme-styles-css" href="css/classic-themes.min.css"
		type="text/css" media="all">
		<link rel="stylesheet" id="ajax-comment-css" href="css/app.css" type="text/css"
		media="all">
		<link rel="stylesheet" id="bootstrap-css" href="css/bootstrap.min.css"
		type="text/css" media="all">
		<link rel="stylesheet" id="bifont-css" href="css/bootstrap-icons.css"
		type="text/css" media="all">
		<link rel="stylesheet" id="fancybox-css" href="css/fancybox.css"
		type="text/css" media="all">
		<link rel="stylesheet" id="stylecss-css" href="css/style.css" type="text/css"
		media="all">
		 <link href="https://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css"
        rel="stylesheet">
		 <link rel="stylesheet" href="https://npm.elemecdn.com/lxgw-wenkai-screen-webfont/style.css" media="print" onload="this.media='all'">
        <style type="text/css">
            body {
              font-family: "LXGW WenKai Screen", sans-serif;
            }
        </style>
	</head>
	<body class="post-template-default single single-post postid-1437 single-format-standard" >
		<style>
/*			:root{--ds_background:url(../img/2022112916111665.svg)}*/
		</style>
		<div  id="app">
        <header class="header sticky-top">
            <div class="container">
                <div class="top">
                    <button class="mobile_an" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobile_right_nav">
                        <i class="bi bi-list">
                        </i>
                    </button>
                    <div class="top_l">
                        <h1 class="logo">
                            <a href="index.html" >
                                <img src="img/202209211355582.png" alt="">
                                <b>
                                    Memos Detail
                                </b>
                            </a>
                        </h1>
                        <nav class="header-menu">
                            <ul id="menu-%e9%a1%b6%e9%83%a8%e5%af%bc%e8%88%aa" class="header-menu-ul">
                                <li id="menu-item-35" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-35">
                                    <a  href="index.html">
                                         <i class="bi bi-palette me-1">
                                        </i>首页
                                    </a>
                                </li>
<!--                                 <li id="menu-item-1182" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1182">
                                    <a href="https:///">
                                         <i class="bi bi-palette me-1">
                                        </i>科技
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1290" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                            <a href="https:///">
                                                旅拍
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </li> -->
                               
                            </ul>
                        </nav>
                    </div>
                    <div class="top_r">
                        <div class="top_r_an theme-switch me-4" onclick="switchDarkMode()">
                            <i class="bi bi-lightbulb-fill">
                            </i>
                        </div>
                        <button class="top_r_an" type="button" data-bs-toggle="offcanvas" data-bs-target="#c_sousuo">
                            <i class="bi bi-search">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="offcanvas offcanvas-top" id="c_sousuo">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6 search_box">
                        <form action="https://" class="ss_a clearfix" method="get">
                            <input name="s" aria-label="Search" type="text" onblur="if(this.value==&#39;&#39;)this.value=&#39;搜索&#39;"
                            onfocus="if(this.value==&#39;搜索&#39;)this.value=&#39;&#39;" value="搜索">
                            <button type="submit" title="Search">
                                <i class="bi bi-search">
                                </i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" id="mobile_right_nav">
            <div class="mobile_head">
                <div class="mobile_head_logo">
                    <img src="img/202209211355582.png" alt="">
                    <b>
                         Memos Detail
                    </b>
                </div>
                <div class="theme-switch" onclick="switchDarkMode()">
                    <i class="bi bi-lightbulb-fill">
                    </i>
                </div>
            </div>
            <div id="sjcldnav" class="menu-%e9%a1%b6%e9%83%a8%e5%af%bc%e8%88%aa-container">
                <ul id="menu-%e9%a1%b6%e9%83%a8%e5%af%bc%e8%88%aa-1" class="menu-zk">
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-35">
                        <a  href="index.html">
                            <i class="bi bi-palette me-1">
                            </i>
                            首页
                        </a>
                    </li>
            <!--         <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1182">
                        <span class="czxjcdbs">
                        </span>
                        <a href="https://">
                            <i class="bi bi-palette me-1">
                            </i>
                            ..
                        </a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                <a href="https://">
                                  ..
                                </a>
                            </li>
                        </ul>
                    </li>
 -->
                </ul>
            </div>
        </div>
		<section class="index_area">
			<div class="container">
				<div class="row g-4">
					<div class="col-lg-12">
						<div class="post_container_title">
							<p>
								<span>
									<i class="bi bi-clock">
									</i>
									{{formatDate(data.updatedTs,'yyyy-MM-dd HH:mm:ss')}}
								</span>
							</p>
						</div>
						<div class="post_container">
							<article class="wznrys">
								<div v-html='data.content'>
								</div>
								<div class="post_images post_img_1">
								     <template  v-for="img in data.resourceList" >
                                            <a v-if="img.externalLink != '' " data-fancybox="post-1437" :href="img.externalLink " style="border: 1px dashed #eee;">
                                                <img :src="img.externalLink">
                                            </a>
                                            <a v-else-if="(img.publicId == undefined || img.publicId == '') && img.externalLink == '' " data-fancybox="post-1437" :href="img.domain +imgUri + img.id + '/' + img.filename" style="border: 1px dashed #eee;">
                                                <img :src="img.domain +imgUri + img.id + '/' + img.filename">
                                            </a>
                                            <a v-else="img.publicId != '' && img.externalLink == '' " data-fancybox="post-1437" :href="img.domain +imgUri + img.id + '/' + img.publicId + '/'+img.filename" style="border: 1px dashed #eee;">
                                                <img :src="img.domain +imgUri + img.id + '/' + img.publicId + '/'+ img.filename">
                                            </a>
                                     </template>
								</div>
							</article>
							<div class="post_loop_tag">
								<em  v-for="tag in data.tags">
									<!-- <i class="bi bi-hash">
									</i> -->
									<a rel="tag">
										{{ tag }}
									</a>
								</em>
							</div>

							<!-- CSS -->
							<link href="https://npm.elemecdn.com/artalk@2.5.5/dist/Artalk.css" rel="stylesheet">

							<!-- JS -->
							<script src="https://npm.elemecdn.com/artalk@2.5.5/dist/Artalk.js"></script>

							<!-- Artalk -->
							<div id="Comments"></div>
							<script>
							Artalk.init({
							  el:        '#Comments',                // 绑定元素的 Selector
							  pageKey:   '',                  // 固定链接 (留空自动获取)
							  pageTitle: '',  // 页面标题 (留空自动获取)
							  server:    'https://api.hanyu.life/api/artalk',  // 后端地址
							  site:      'memos',             // 你的站点名
							})
							</script>

			</div>

		</section>
		</div>
		<button class="scrollToTopBtn" title="返回顶部">
			<i class="bi bi-chevron-up">
			</i>
		</button>

		
        <script type="text/javascript" src="js/pkg/jquery.min.js" id="jquery-min-js">
        </script>
		<script type="text/javascript" src="js/pkg/jquery-migrate.min.js" id="jquery-migrate-js">
		</script>
		<script type="text/javascript" src="js/pkg/app.js" id="ajax-comment-js">
		</script>
		<script type="text/javascript" src="js/pkg/bootstrap.min.js" id="bootstrap-js">
		</script>
		<script type="text/javascript" src="js/pkg/fancybox.js" id="fancybox-js">
		</script>
		<script type="text/javascript" src="js/pkg/js.js" id="dsjs-js">
		</script>
		<script type="text/javascript" src="js/pkg/vue.global.js">
		</script>
		<script type="text/javascript" src="https://js.cybozu.com/markedjs/v0.3.5/marked.min.js">
		</script>
		<script type="text/javascript" src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js">
        </script>
		<script type="text/javascript" src="config.js">
        </script>
		<script type="text/javascript" src="js/global.js">
        </script>
        <script type="text/javascript" src="js/detail.js">
        </script>

	</body>

</html>