<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script>
            const isDark = localStorage.getItem("isDarkMode");
            if (isDark === "1") {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,viewport-fit=cover,shrink-to-fit=no">
        <meta name="renderer" content="webkit">
        <link rel="apple-touch-icon" href="img/favicon.ico">
        <link rel="icon" href="img/favicon.ico">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="email=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="date=no">
        <title>
            Memos - Hub
        </title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="robots" content="max-image-preview:large">

      
        <link rel="stylesheet" id="classic-theme-styles-css" href="css/classic-themes.min.css"
        type="text/css" media="all">
        <link rel="stylesheet" id="bootstrap-css" href="css/bootstrap.min.css"
        type="text/css" media="all">
        <link rel="stylesheet" id="bifont-css" href="css/bootstrap-icons.css"
        type="text/css" media="all">
        <link rel="stylesheet" id="fancybox-css" href="css/fancybox.css" type="text/css"
        media="all">
        <link rel="stylesheet" id="stylecss-css" href="css/style.css" type="text/css"
        media="all">
        <link href="https://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css"
        rel="stylesheet">
        <link rel="stylesheet" href="https://npm.elemecdn.com/lxgw-wenkai-screen-webfont/style.css" media="print" onload="this.media='all'">
          <style type="text/css">
            [v-cloak] {
                display:none !important;
            }
            body {
              font-family: "LXGW WenKai Screen", sans-serif;
            }
             .pic {
                    object-fit: cover;
                    height:142px;
                    width: 142px;
                    border-radius: 4px;
                  }

                  a img {
                    border-radius: 5px;
                    margin: 2px;
                  }
                  .post_loop_conter a { 
                        color: #3a3ab5;
                  }
        </style>
    </head>
    <body class="home blog" >
        <style>
/*            :root{--ds_background:url(../img/2022112916111665.svg)}*/
        </style>
        <div  id="app" v-cloak>
        <header class="header sticky-top">
            <div class="container">
                <div class="top">
                    <button class="mobile_an" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobile_right_nav">
                        <i class="bi bi-list">
                        </i>
                    </button>
                    <div class="top_l">
                        <h1 class="logo">
                            <a  href="index.html" title="">
                                <img src="img/202209211355582.png" alt="">
                                <b>
                                    Memos
                                </b>
                            </a>
                        </h1>
                        <nav class="header-menu">
                            <ul id="menu-%e9%a1%b6%e9%83%a8%e5%af%bc%e8%88%aa" class="header-menu-ul">
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-35">
                                    <a  href="index.html">
                                        <i class="bi bi-palette me-1">
                                        </i>
                                        Memos Hub
                                    </a>
                                </li>
                                <li  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                    <a href="javascript:alert('开发中')">
                                      RSS Hub
                                    </a>
                                </li>
                                <li id="menu-item-1182" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1182">
                                    <a>
                                        联系我/想加入
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1290" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                            <a  href="https://zuofei.net/about.html" target="_blank">
                                              今是昨非
                                            </a>
                                        </li>
                                        <li id="menu-item-1290" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                            <a  href="https://hanyu.life/blog/about/" target="_blank">
                                              Yu
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="top_r">
                        <div class="top_r_an theme-switch me-4" onclick="switchDarkMode()">
                            <i class="bi bi-lightbulb-fill">
                            </i>
                        </div>
                       <!--  <button class="top_r_an" type="button" data-bs-toggle="offcanvas" data-bs-target="#c_sousuo">
                            <i class="bi bi-search">
                            </i>
                        </button> -->
                    </div>
                </div>
            </div>
        </header>
<!--         <div class="offcanvas offcanvas-top" id="c_sousuo">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6 search_box">
                        <form action="https:///" class="ss_a clearfix" method="get">
                            <input name="s" aria-label="Search" type="text" onblur="if(this.value==&#39;&#39;)this.value=&#39;搜索&#39;"
                            onfocus="if(this.value==&#39;搜索&#39;)this.value=&#39;&#39;" value="搜索">
                            <button type="submit" title="Search">
                                <i class="bi bi-search">
                                </i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="offcanvas offcanvas-start" id="mobile_right_nav">
            <div class="mobile_head">
                <div class="mobile_head_logo">
                    <img src="img/202209211355582.png" alt="">
                    <b>
                        Memos
                    </b>
                </div>
                <div class="theme-switch" onclick="switchDarkMode()">
                    <i class="bi bi-lightbulb-fill">
                    </i>
                </div>
            </div>
            <div id="sjcldnav" class="menu-%e9%a1%b6%e9%83%a8%e5%af%bc%e8%88%aa-container">
                <ul id="menu-%e9%a1%b6%e9%83%a8%e5%af%bc%e8%88%aa-1" class="menu-zk">
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-35">
                        <a  href="index.html">
                            <i class="bi bi-palette me-1">
                            </i>
                               Memos Hub
                        </a>
                    </li>
                               <li  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                    <a href="javascript:alert('开发中')">
                                      RSS Hub
                                    </a>
                                </li>
                                <li id="menu-item-1182" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1182">
                                    <a>
                                        联系我/想加入
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1290" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                            <a  href="https://zuofei.net/about.html" target="_blank">
                                              今是昨非
                                            </a>
                                        </li>
                                        <li id="menu-item-1290" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                            <a  href="https://hanyu.life/blog/about/" target="_blank">
                                              Yu
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                  <!--   <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1182">
                        <span class="czxjcdbs">
                        </span>
                        <a href="https://">
                            <i class="bi bi-palette me-1">
                            </i>
                            ...
                        </a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1290">
                                <a href="https://">
                                    ...
                                </a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
        <section class="index_banner">
            <div class="container">
                <div id="banner" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active"
                        aria-current="true">
                        </button>
                        <button type="button" data-bs-target="#banner" data-bs-slide-to="1" class="">
                        </button>
                    </div>
                    <div class="carousel-inner">
                        <div :class="'carousel-item '+item.active" v-for="item in banlist">
                            <a class="banlist" :href="item.href" target="_blank">
                                 <img width="900" height="350" :src="item.img"
                                class="attachment-900x350x1 size-900x350x1 wp-post-image" alt="" decoding="async"
                                loading="lazy">
                                <h2>
                                    {{item.desc}}
                                </h2>
                                <i>
                                    置顶精彩
                                </i>
                            </a>
                        </div>
                        <!-- <div class="carousel-item">
                            <a class="banlist" href="https:///1076.html">
                                <img width="900" height="350" src="img/2022092304184493-900x350-c.jpg"
                                class="attachment-900x350x1 size-900x350x1 wp-post-image" alt="" decoding="async"
                                loading="lazy">
                                <h2>
                                    TestTop
                                </h2>
                                <i>
                                    置顶精彩
                                </i>
                            </a>
                        </div> -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#banner"
                    data-bs-slide="prev">
                        <i class="bi bi-chevron-left">
                        </i>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#banner"
                    data-bs-slide="next">
                        <i class="bi bi-chevron-right">
                        </i>
                    </button>
                </div>
            </div>
        </section>
                <section class="index_banner">
            <div class="container">
                <div id="banner" class="carousel slide" data-bs-ride="carousel">
                  
                    <div class="carousel-inner">
                        <div style="display:flex;flex-wrap: wrap;justify-content: left">
                             <a :href="info.site" v-for="info in infos" target="_blank"><img width="45" height="45" style="margin: 6px;border-radius: 50%;" :src="info.avatar"
                                class="attachment-900x350x1 size-900x350x1 wp-post-image" /></a>

                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="index_area">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="post_box">
                            <div class="post_loop" v-for="item in datas">
                                <div class="post_loop_head">
                                    <div class="post_loop_head_author">
                                        <a class="images_author" :href="item.site"  target="_blank">
                                            <img alt="" :src="item.avatar" class="avatar avatar-80 photo"
                                            height="80" width="80" loading="lazy" decoding="async">
                                        </a>
                                        <div class="images_author_name">
                                            <h3>
                                                <a  :href="item.site" target="_blank">
                                                    <u>{{ item.creatorName }}</u>
                                              </a>
                                            </h3>
                                            <span>
                                                {{formatDate(item.updatedTs,'yyyy-MM-dd HH:mm:ss')}}
                                            </span>
                                        </div>
                                    </div>
                                   <!--  <a class="post_loop_more" :href="'detail.html?id='+item.id+'&domain='+item.domain">
                                        <i class="bi bi-three-dots">
                                        </i>
                                    </a> -->
                                </div>
                                <div class="post_loop_conter">
                                    <div class="post_loop_title_box">
                                        <div v-html='item.content'>
                                        </div>
                                    </div>
                                    <div  style="display: flex;flex-wrap: wrap"   v-if="item.resourceList.length != 0">
                                        <template  v-for="img in item.resourceList" >
                                                <a v-if="img.externalLink != '' " data-fancybox="post-1437" :href="img.externalLink ">
                                                    <img :src="img.externalLink" :class="item.resourceList.length > 1 ? 'pic': 'post_img_1'">
                                                </a>
                                                <a v-else-if="(img.publicId == undefined || img.publicId == '') && img.externalLink == '' " data-fancybox="post-1437" :href="item.api + imgUri + img.id + '/' + img.filename" >
                                                    <img :src="item.api + imgUri + img.id + '/' + img.filename" :class="item.resourceList.length > 1 ? 'pic': 'post_img_1'">
                                                </a>
                                                <a v-else="img.publicId != '' && img.externalLink == '' " data-fancybox="post-1437" :href="item.api + imgUri + img.id + '/' + img.publicId + '/'+img.filename" >
                                                    <img :src="item.api + imgUri + img.id + '/' + img.publicId + '/'+ img.filename" :class="item.resourceList.length > 1 ? 'pic': 'post_img_1'">
                                                </a>
                                         </template>
                                        
                                    </div>
                                    <div class="post_loop_tag">
                                        <em v-for="tag in item.tags">
                                            <!-- <i class="bi bi-hash">
                                            </i> -->
                                            <a  rel="tag">
                                                {{ tag }}
                                            </a>
                                        </em>
                                    </div>
                                    <div class="post_info_footer">
                                        <span v-if="item.comment == true || item.comment == 'true'">
                                            <i class="bi bi-chat-square-text-fill">
                                            </i>
                                            <!-- <a :href="'detail.html?id='+item.id+'&site='+item.site.split('://')[1]"> -->
                                                <!-- :href="'detail.html?id='+item.id+'&site='+item.api" -->
                                                <a @click="commentClick" :pageKey="'/m/'+item.id" :serveradress="item.comment_server_adress" :user="item.name" :itemid="item.id" :commentsitename="item.comment_site_name" :comment="item.comment" style="cursor: pointer;" v-if="item.comment_server_adress == '' || item.comment_server_adress == undefined || item.comment_server_adress == null">平台评论
                                            </a>
                                             <a @click="commentClick" :pageKey="'/m/'+item.id" :serveradress="item.comment_server_adress" :user="item.name" :itemid="item.id" :commentsitename="item.comment_site_name" :comment="item.comment" style="cursor: pointer;" v-else>自有评论
                                            </a>
                                        </span>
                                        <span v-else>
                                            <i class="bi bi-chat-square-text-fill">
                                            </i>
                                                <a>
                                                {{ item.commentCount }}评论关闭
                                            </a>
                                        </span>
                                    </div>
                                    <div :id="'comments-'+item.id+'-'+item.name" style="margin-top:5px"></div>
                                </div>
                            </div>
                        </div>
                       <!--  <div class="post-read-more">
                        </div> -->
                    </div>
                    
                </div>
                 <button @click="nextSort" style="border: 0px solid gray;padding:10px 6px;border-radius:5px;background: white;cursor: pointer;"> <div>加载更多严格有序</div></button>
                  <button @click="next" style="float:right;border: 0px solid gray;padding:10px 6px;border-radius:5px;background: white;cursor: pointer;"> <div>加载更多局部有序</div></button>
            </div>

        </section>
        <footer class="footbox">
            <div class="container">
                <div class="copyright">
                    <p>
                        ©️ 2023
                        <a class="beian" href="https://beian.miit.gov.cn/" rel="external nofollow"
                        target="_blank">
                            <i class="bi bi-shield-check me-1">
                            </i>
                            ICP备123456号
                        </a>
                    </p>
                </div>
            </div>
        </footer>
         </div>
        <button class="scrollToTopBtn showBtn" title="返回顶部">
            <i class="bi bi-chevron-up">
            </i>
        </button>
        <link href="https://api.hanyu.life/api/artalk/dist/Artalk.css" rel="stylesheet">
        <script src="https://api.hanyu.life/api/artalk/dist/Artalk.js"></script>
        <script type="text/javascript" src="js/pkg/jquery.min.js" id="jquery-min-js">
        </script>
        <script type="text/javascript" src="js/pkg/bootstrap.min.js" id="bootstrap-js">
        </script>
        <script type="text/javascript" src="js/pkg/fancybox.js" id="fancybox-js">
        </script>
        <script type="text/javascript" src="js/pkg/js.js" id="dsjs-js">
        </script>
        <script type="text/javascript" src="js/pkg/vue.global.js">
        </script>
        <script type="text/javascript" src="https://js.cybozu.com/markedjs/v0.3.5/marked.min.js">
        </script>
        <script type="text/javascript" src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js">
        </script>
        <script type="text/javascript" src="config.js">
        </script>
        <script type="text/javascript" src="js/global.js">
        </script>
        <script type="text/javascript" src="js/index.js">
        </script>
</html>